.quiz {
  width: 100%;
  padding: 80px 0;
  background-color: #5CC2FF;
  position: relative;

  @media (max-width: 1500px) {
    padding: 50px 0;
  }

  @media (max-width: 1300px) {
    padding-top: 110px;
  }

  @media (max-width: 920px) {
    padding-top: 90px;
  }

  @media (max-width: 576px) {
    padding-top: 50px;
  }

  &__container {}

  &__hidden {
    overflow: hidden;
  }

  &__time-card {
    position: absolute;
    top: -55px;
    z-index: 3;
    left: 43%;

    @media (max-width: 1500px) {
      padding: 10px 25px 10px 10px;
      border-radius: 50px;
      left: unset;
      right: 250px;
      top: -38px;
    }

    @media (max-width: 1300px) {
      top: 17px;
      right: 280px;
    }

    @media (max-width: 1200px) {
      right: 230px;
    }

    @media (max-width: 920px) {
      top: 10px;
      right: unset;
      left: calc(var(--container-padding) + 130px);
    }

    @media (max-width: 576px) {
      left: 115px;
      top: -35px;
    }

    @media (max-width: 430px) {
      gap: 6px;
    }

    @media (max-width: 380px) {
      width: 100%;
      max-width: calc(100% - var(--container-padding) * 2);
      left: var(--container-padding);
    }

    .time-card__clock {
      @media (max-width: 1500px) {
        width: 50px;
        height: 50px;
      }
    }

    .time-card__desc-title {
      @media (max-width: 1500px) {
        font-size: 26px;
      }

      @media (max-width: 1200px) {
        font-size: 21px;
      }

      @media (max-width: 430px) {
        font-size: 16px;
      }
    }

    .time-card__desc-text {
      @media (max-width: 1500px) {
        font-size: 20px;
      }

      @media (max-width: 1200px) {
        font-size: 19px;
      }

      @media (max-width: 430px) {
        font-size: 14px;
      }
    }
  }

  &__action {
    background-color: var(--main-color);
    color: white;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: flex-end;
    padding: 10px;
    padding-right: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    position: relative;
    z-index: 2;
    min-width: max-content;

    @media (max-width: 768px) {
      border-top-right-radius: 100px;
      border-bottom-right-radius: 100px;
    }

    @media (max-width: 576px) {
      padding: 5px 19px 5px 0;
    }

    &:before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: var(--main-color);
      left: -100%;
    }

    &-desc {
      height: 100%;
      display: flex;
      align-items: center;
      color: var(--main-color);
      background-color: white;
      padding-left: 40px;
      position: relative;
      z-index: 1;

      @media (max-width: 1200px) {
        padding-left: 20px;
      }

      @media (max-width: 920px) {
        padding-left: 40px;
      }

      @media (max-width: 768px) {
        padding-left: 60px;
      }

      @media (max-width: 576px) {
        padding-left: 0;
      }

      strong {
        font-style: italic;
      }

      &:before,
      &:after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        right: -100%;
        background-color: white;
        z-index: 0;
      }

      &:after {
        right: unset;
        left: -50px;
        width: 50px;
      }
    }
  }

  &__lent {
    margin-bottom: 20px;
    height: 124px;
    font-size: 64px;
    font-weight: bold;

    @media (max-width: 1700px) {
      font-size: 50px;
      height: 110px;
    }

    @media (max-width: 1600px) {
      height: 90px;
      font-size: 45px;
    }

    @media (max-width: 1200px) {
      height: 80px;
      font-size: 35px;
    }

    @media (max-width: 768px) {
      height: 60px;
      font-size: 25px;
    }

    @media (max-width: 576px) {
      height: 50px;
      font-size: 19px;
    }

    @media (max-width: 430px) {
      font-size: 18px;
    }

    .quiz-cont__left {
      @media (max-width: 1600px) {
        width: 15%;
      }

      @media (max-width: 576px) {
        width: auto;
      }
    }
  }

  &__implant {
    position: relative;

    img {
      position: absolute;
      right: 15px;
      bottom: -70px;
      z-index: 4;
      padding-right: 15px;

      @media (max-width: 1700px) {
        bottom: -125px;
      }

      @media (max-width: 1600px) {
        width: 225px;
        bottom: -110px;
      }

      @media (max-width: 1200px) {
        width: 190px;
      }

      @media (max-width: 920px) {
        width: 140px;
        bottom: -35px;
        right: unset;
        left: var(--container-padding);
      }

      @media (max-width: 576px) {
        width: 100px;
        bottom: -25px;
      }

      @media (max-width: 380px) {
        width: 70px;
        bottom: 24px;
        right: 5px;
        left: unset;
      }

      @media (max-width: 330px) {
        width: 60px;
        bottom: 26px;
      }

      @media (max-width: 300px) {
        display: none;
      }

    }
  }
}

.quiz-cont {
  width: 100%;
  display: flex;
  gap: 20px;

  &__left {
    width: 25%;
  }

  &__right {
    width: 85%;
  }

  &__doctor-card {

  }
}

.quiz-cont_q {

    .quiz-cont__left {
        @media (max-width: 1600px) {
          width: 30%;
        }

        @media (max-width: 1200px) {
          display: none;
        }
    }

    .quiz-cont__right {
        @media (max-width: 1200px) {
          width: 100%;
        }
    }

}

.qz-wrap {
  --gap: 30px;
  color: var(--text-color);
  background-color: white;
  height: 100%;
  padding: 30px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--gap);

  @media (max-width: 920px) {
    padding: 25px;
  }

  @media (max-width: 768px) {
    border-radius: 20px;
  }

  @media (max-width: 576px) {
    padding: 20px;
    border-radius: 15px;
  }

  @media (max-width: 430px) {
    padding: 15px;
  }

  @media (max-width: 380px) {
    gap: 15px;
  }

  @media (max-width: 330px) {
    gap: 10px;
  }

  @media (max-width: 300px) {
    border-radius: 10px;
  }

  &__title {
    font-size: 32px;
    font-weight: bold;

    @media (max-width: 920px) {
      font-size: 28px;
    }

    @media (max-width: 768px) {
      font-size: 24px;
    }

    @media (max-width: 576px) {
      font-size: 22px;
    }

    @media (max-width: 430px) {
      font-size: 20px;
    }

    @media (max-width: 330px) {
      font-size: 18px;
    }

    @media (max-width: 300px) {
      font-size: 16px;
    }
  }

  &__desc {
    font-size: 24px;

    @media (max-width: 920px) {
      font-size: 20px;
    }

    @media (max-width: 768px) {
      font-size: 18px;
    }

    @media (max-width: 576px) {
      font-size: 16px;
    }

    @media (max-width: 430px) {
      font-size: 15px;
    }

    @media (max-width: 330px) {
      font-size: 14px;
    }

    @media (max-width: 300px) {
      font-size: 13px;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &-2 {
      display: none;
    }
  }

  &__surprice {
    width: 100px;
    min-width: 100px;
    height: 100px;

    @media (max-width: 576px) {
      width: 70px;
      min-width: 70px;
      height: 70px;
      display: flex;
      align-items: center;
    }

    @media (max-width: 430px) {
      width: 60px;
      min-width: 60px;
      height: 60px;
    }

    img {
      width: 100%;
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    margin-top: auto;

    &-last {
      display: none;
    }
    
    @media (max-width: 300px) {
      flex-direction: column;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__text {
    font-size: 18px;

    @media (max-width: 576px) {
      font-size: 16px;
    }

    @media (max-width: 430px) {
      font-size: 14px;
    }

    @media (max-width: 300px) {
      font-size: 12px;
      text-align: center;
    }
  }

  &__price {
    font-size: 32px;
    font-weight: bold;

    @media (max-width: 576px) {
      font-size: 24px;
    }

    @media (max-width: 430px) {
      font-size: 18px;
    }

    @media (max-width: 300px) {
      text-align: center;
    }

    &_hide {
      text-decoration: line-through;
      font-size: 24px;

      @media (max-width: 576px) {
        font-size: 20px;
      }

      @media (max-width: 300px) {
        font-size: 15px;
      }
    }

    &-header {
      display: flex;
      align-items: center;
      gap: 15px;

      @media (max-width: 300px) {
        font-size: 22px;
        justify-content: center;
        gap: 10px;
      }
    }

    &-sale {
      font-size: 33px;
      font-weight: bold;
      color: #5CC2FF;

      @media (max-width: 576px) {
        font-size: 28px;
      }

      @media (max-width: 430px) {
        font-size: 26px;
      }

      @media (max-width: 300px) {
        font-size: 22px;
      }
    }
  }
}

.qz {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  max-width: 1024px;
  height: 100%;

  @media (max-width: 576px) {
    gap: 20px;
  }

  @media (max-width: 300px) {
    gap: 15px;
  }

  &__form {
    width: 100%;
    background-color: transparent;
    padding: 0;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 30px;

    @media (max-width: 768px) {
      flex-direction: column-reverse;
      align-items: flex-start;
      gap: 20px;
    }

    @media (max-width: 576px) {
      gap: 10px;
    }

    &-right {
      display: flex;
      flex-direction: column;
      gap: 5px;
      width: 100%;
      max-width: 300px;

      @media (max-width: 768px) {
        max-width: 100%;
      }

      &_ready {
        display: none;
      }
    }
  }

  &__steps {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    color: #5B5B5B;
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;

    @media (max-width: 768px) {
      font-size: 19px;
    }

    @media (max-width: 576px) {
      font-size: 18px;
    }

    @media (max-width: 430px) {
      font-size: 15px;
    }

    @media (max-width: 330px) {
      font-size: 14px;
    }
  }

  &__question {
    font-size: 24px;
    width: 100%;

    @media (max-width: 920px) {
      font-size: 20px;
    }

    @media (max-width: 768px) {
      font-size: 18px;
      min-width: auto;
    }

    @media (max-width: 430px) {
      font-size: 16px;
    }

    @media (max-width: 300px) {
      font-size: 14px;
    }
  }

  &__content {
    display: flex;
    gap: var(--gap);
    height: 100%;
  }

  &__step-content {
    width: 100%;
    height: 100%;
    display: none;

    &.active {
      display: flex;
    }
  }

  &__btns {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;

    @media (max-width: 430px) {
      flex-direction: column;
      gap: 15px;
    }

    > * {
      width: 100%;
    }
  }

  &__btn {
    font-weight: bold;
    border: 2px solid var(--text-color);

    @media (max-width: 576px) {
      padding: 10px;
    }

    span {
      @media (max-width: 576px) {
        font-size: 20px;
      }

      @media (max-width: 330px) {
        font-size: 18px;
      }
    }

    svg {
      @media (max-width: 330px) {
        width: 18px;
        height: 18px;
      }
    }

    &.disable {
      pointer-events: none;
      opacity: 0.8;
    }

    &:hover {
      color: var(--text-color);
    }

    &_back {
      background-color: white;
      border: 2px solid var(--text-color);

      &:hover {
        background-color: #5CC2FF;
        border-color: #5CC2FF;
        color: white;
      }

      &:active {
        background-color: #2C5A74;
        border-color: #2C5A74;
      }
    }

    &_next {
      border-color: #5CC2FF;

      &:hover {
        background-color: #78CDFF;
        border-color: #78CDFF;
      }

      &:active {
        background-color: #E1E8F6;
        border-color: #E1E8F6;
      }
    }
  }
}

.step-cards {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;

  @media (max-width: 1024px) {
    flex-wrap: wrap;
    justify-content: center;
  }

  @media (max-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
  }

  @media (max-width: 576px) {
    gap: 10px;
  }

  @media (max-width: 300px) {
    grid-template-columns: 1fr;
    width: 100%;
  }

  .sc-radio-img {
    min-width: 220px;
    width: max-content;
    justify-content: space-between;

    .sc-radio-img__img {
      min-height: 100%;
    }

    @media (max-width: 1500px) {
      min-width: 200px;
    }

    @media (max-width: 1400px) {
      min-width: 180px;
    }

    @media (max-width: 1300px) {
      min-width: 170px;
    }

    @media (max-width: 1200px) {
      min-width: unset;
      height: unset;
      max-width: unset;
    }

    @media (max-width: 768px) {
      max-width: 100%;
      width: 100%;
    }

    &__img {
      @media (max-width: 920px) {
        height: 120px;
      }

      @media (max-width: 380px) {
        height: 90px;
      }

      @media (max-width: 330px) {
        height: 60px;
      }

      @media (max-width: 300px) {
        height: 100px;
      }
    }

    &__text {
      min-width: max-content;

      @media (max-width: 1024px) {
        min-width: auto;
      }

      @media (max-width: 576px) {
        font-size: 16px;
      }

      @media (max-width: 430px) {
        font-size: 14px;
      }

      @media (max-width: 330px) {
        font-size: 12px;
      }
    }
  }

  .sc-radio-img.active {
    background-color: #5CC2FF;

    .sc-radio-img__text {
      color: white;
    }
  }

  .sc-radio-img.active .el-radio-t1 {
    --color: white;

    &:before {
      background-color: white;
    }
  }
}


// Progress bar
.progress {
  --progress-width: 10%;
  height: 16px;
  width: 100%;
  background-color: #d9e3f4;
  border-radius: 50px;
  overflow: hidden;
  
  @media (max-width: 300px) {
    height: 15px;
  }


  &:before {
    content: "";
    display: block;
    background-color: #4074C8;
    width: var(--progress-width);
    height: 100%;
    transition: .5s;
  }

  &_ready {
    background-color: #9CBC7E;
    --progress-width: 100% !important;

    &:before {
      background-color: #9CBC7E;
    }
  }
}

.step-5 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.step-6 {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__header {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  &__title {
    font-size: 32px;
    font-weight: bold;
  }

  &__desc {
    font-size: 24px;
  }

  .simple-btn {
    @media (max-width: 920px) {
      padding: 15px;
    }

    @media (max-width: 576px) {
      padding: 10px;
    }

    span {
      @media (max-width: 576px) {
        font-size: 20px;
        min-width: auto;
      }

      @media (max-width: 430px) {
        font-size: 16px;
      }
    }
  }

}